<div id="qrCodeWrapper">
  <ion-grid>
    <ion-row>
      <ion-col>
        <qr-code id="qrdatacode" [value]="value" size="300" errorCorrectionLevel="M"></qr-code>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="printPDF()">Descargar como PDF</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="note"><em>Sugerencia:</em> Le recomendamos que descargue el QR como PDF, y puede enviarlo vía mail para luego imprimirlo.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>