<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="close()" fill="clear" color="primary">
        Cerrar <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-donation-details [donation]="donation"></app-donation-details>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- TODO: refactor with multiples components -->
    <ion-col class="ion-text-center">
      <ion-button *ngIf="withQR()" [routerLink]="['/xcode', donation.uuid]" (click)="close()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Imprimir QR
      </ion-button>
      <ion-button *ngIf="withMarkAsReadyToTravel()" (click)="markAsReadyToTravel()">
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        Marcar listo para viajar
      </ion-button>
      <ion-button *ngIf="withCancelCollect()" (click)="viewInMap()">
        <ion-icon slot="start" name="map-outline"></ion-icon>
        Ver en mapa
      </ion-button>
      <ion-button *ngIf="withCancelCollect()" (click)="markAsInTravel()">
        <ion-icon slot="start" name="hand-left-outline"></ion-icon>
        Marcar como recolectada
      </ion-button>
      <ion-button *ngIf="withMarkAsFinalized()" (click)="markAsFinalized()">
        <ion-icon slot="start" name="golf"></ion-icon>
        Marcar entregada
      </ion-button>
      <ion-button color="danger" *ngIf="withCancelCollect()" (click)="cancelCollect()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
        Cancelar recolección
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>