<h3>¿Desera realizar un seguimiento de la donación?</h3>
<form [formGroup]="trackForm">
  <ion-list>
    <ion-radio-group formControlName="follow">
      <ion-item>
        <ion-label>No, sin seguimiento</ion-label>
        <ion-radio slot="start" value="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Sí, con seguimiento</ion-label>
        <ion-radio slot="start" value="true"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <p class="note"><em>Tener en cuenta:</em> si elige "con seguimiento" deberá imprimir un código QR 
    y colocarlo en la donación. Luego desde "Paquetes pendientes" deberá marcarlo 
    como "Listo para recolectar", cerciórese que el colaborador que lo retire 
    escanee el código QR.</p>
</form>