<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <lib-ion-display-messages [isVisible]="displayMessage.message !== ''" 
    [dismissible]="true" [icon]="true" [type]="displayMessage.type">
    {{ displayMessage.message }}
  </lib-ion-display-messages>

  <form [formGroup]="signinFormGroup">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="login()" color="danger" expand="block">Ingresar</ion-button>
        <a [routerLink]="['/forgot-password']" class="center small-text">Recuperar credenciales...</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>