<div *ngIf="mapOpened">
  <ion-button (click)="toggleMap()" fill="clear" color="primary">
    Confirmar
  </ion-button>
  <ion-button (click)="toggleMap()" fill="clear" color="primary">
    Cerrar
  </ion-button>
</div>
<div *ngIf="!mapOpened">
  <p>(Sin dirección)</p>
  <ion-button (click)="toggleMap()" fill="clear" color="primary">
    Cambiar
  </ion-button>
</div>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter Address to Geocode</ion-label>
    <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
  </ion-item>
  <ion-row class="ion-padding-horizontal ion-padding-top" *ngIf="!showingCurrent">
    <ion-text class="coords">My Latitude : {{lat}}</ion-text>
  </ion-row>
  <ion-row class="ion-padding-horizontal" *ngIf="!showingCurrent">
    <ion-text class="coords">My Longitude : {{lng}}</ion-text>
  </ion-row>

  <app-map *ngIf="mapOpened"></app-map>

</ion-content>