<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="close()" fill="clear" color="primary">
        Cerrar <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let item of resume">
          <ion-label style="font-weight: bold;">{{item.label}}</ion-label>
          <ion-label class="ion-text-wrap">{{item.value}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button [routerLink]="['/xcode', donation.uuid]" (click)="close()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Imprimir QR
      </ion-button>
      <ion-button>
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        Marcar listo para entrega
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>