<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-list-header>
        <img width="32" style="margin-right: 15px;" src="assets/icon/favicon.png" alt="favicon" />
        Mundo Colaborativo
      </ion-list-header>

      <ion-item style="padding-left: 10px;">
        <ion-note slot="end">Alias</ion-note>
      </ion-item>

      <app-select-rol (onRolChange)="updateByRol($event)"></app-select-rol>

      <ion-menu-toggle auto-hide="false" *ngFor="let p of items">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>