<ion-menu contentId="main-content" type="overlay">
  <ion-content>
    <div>
      <h1>
        <!-- TODO: Move as backgroud -->
        <img width="32" style="margin-right: 15px;" src="assets/icon/favicon.png" alt="favicon" />
        Mundo Colaborativo
      </h1>
    </div>

    <div class="user-details">
      <ion-label>{{ userFullName }}</ion-label>
      <ion-label>{{ userAlias }}</ion-label>
    </div>
    <app-select-rol (onRolChange)="updateByRol($event)"></app-select-rol>

    <ion-list id="inbox-list">
      <ion-menu-toggle auto-hide="false" *ngFor="let p of items">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>